.ipynb_checkpoints/
__pycache__/
sample_data/
pcawg_conv/
.pyc
.pkl
.fai
data/FashionMNIST/
*.json
._*
.out/
puhti_*.sh
atlas_*.sh
puhti_*.sh
cross_*.sh
hs37d5_1000GP.fa
results/
*.sh
execute_*.sh/
*.pyc
*.out
temp/
*.sh
*.gz
local_script.txt
results/
