.ipynb_checkpoints/
__pycache__/
tcga/
tcga_log/
tcga_conv/
tcga_conv_log/
sample_data/
pcawg_conv/
.csv
.xls
.tsv
.pyc
.pkl
.fai
data/FashionMNIST/
*.json
runs/
runsold/
runsold2/
runs/
ckpt/
ckptold/
ckptold2/
mnist/
._*
runs3/
runs4/
.out/
puhti_*.sh
atlas_*.sh
ckptnew/
ckptpuhti/
puhti_*.sh
cross_*.sh
hs37d5_1000GP.fa
results/
*.sh
data/raw/temp/
data/raw/outputdir/

