.ipynb_checkpoints/
__pycache__/
sample_data/
pcawg_conv/
.pyc
.pkl
.fai
data/FashionMNIST/
*.json
._*
.out/
puhti_*.sh
atlas_*.sh
puhti_*.sh
cross_*.sh
hs37d5_1000GP.fa
results/
*.sh
execute_*.sh/
*.pyc
*.out
*.sh
*.gz
local_script.txt
results/
dmm_errors.txt
main_old.py
preproc-requirements.txt
README raw.md
README_puhti.md
run_examples.py
sample_dataset.py
step.txt
test.txt
testpy2.py
ref/ref
*.DS_store
